<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cancel</title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="main">
      <!-- Create a Form -->
      <form method="POST">
          <!-- Security token by Django -->
          {% csrf_token %}
          Do you want to delete this item ?
          <input type="submit" value="Yes"> </input>
          <a href="{% url 'mags_list' %}">Cancel</a>
      </form>
    </div>

  </main>
</body>

</html>