<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header>
        <nav>
            <a href={% url 'mags_list' %}>Magazine list</a>
        </nav>
    </header>
    <main>
        <div class="mag-card">
            <p>{{ mags.title }}</p>
            <p>{{ mags.release_cycle }}</p>
            <p>{{ mags.description }}</p>
                <img src={{ mags.cover_image }} </img>
        </div>
        <a href="{% url 'mags_update' mags.pk%}"> <button>Edit this Magazine </button></a>
        <a href="{% url 'mags_delete' mags.pk%}"> <button>Delete this Magazine </button></a>
    </main>
</body>

</html>
