<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
      <a href={% url 'mags_create' %}> New Magazine</a>
    </nav>
  </header>
  <main>
    {% for mag in mags %} 
    <div class="mag-card">
      <p>
      <a href={% url 'mags_detail' mag.pk %}>{{mag.title}} </a>
      </p>      
      <p>{{ mag.release_cycle }}</p>
      <p>{{ mag.description }}</p>
      <a href={% url 'mags_list' %}>
        <img src={{ mag.cover_image }} </img>> </a>

    </div>
    {% endfor %}
  </main>
</body>

</html>
