<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="main">
      <!-- Create a Form -->
      <form method="POST">
          <!-- Security token by Django -->
          {% csrf_token %}
          Do you want to delete this item ?
          <input type="submit" value="Yes" />
          <a href="/">Cancel </a>
      </form>
  </div>
    {% comment %} <div class="main">
      <h1>Delete this book</h1>
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            <!-- form as paragraph -->
            Are you sure you want to delete this book?
            <input type="submit" value="Delete this book">
            <a href="/">Cancel </a>
        </form>

    </div> {% endcomment %}

  </main>
</body>

</html>