<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <header>
        <nav>
        </nav>
    </header>
    <main>
        <div class="book-card">
            <p>{{ book.title }}</p>
            {% for review in book.reviews.all %}
            <p>Review: {{ review.text }}</p>
            {% endfor %}
            {% for author in book.authors.all %}
            <p>Author: {{ author.name }}</p>
            {% endfor %}
            <p>{{ book.number_of_pages }}</p>
            <p>{{ book.ISBN }}</p>
            <p>{{ book.in_print }}</p>
            <img src={{ book.cover }}> </img>
        
        </div>
        
    </main>
</body>

</html>