<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    {% for book in books %} 
    <div class="book-card">
      <p>
        <a href={% url 'showbook' book.pk %}>{{book.title}} </a>
      </p>      
      <p>{{ book.author }}</p>
      <p>{{ book.number_of_pages }}</p>
      <p>{{ book.ISBN }}</p>
      <p>{{ book.in_print }}</p>
      <a href={% url 'showbook' book.pk %}>
        <img src={{ book.cover }} </img>> </a>



    </div>
    {% endfor %}
  </main>
</body>

</html>
<img src={{ book.cover }}> </img>